#!/usr/bin/make -f
# export DH_VERBOSE=1
export DEB_CFLAGS_MAINT_APPEND += -Wall -DGLOBAL_DEFAULTS_SUBDIR=\"GNUstep/Defaults\"

LINGUAS           := $(patsubst po/%.po, %, $(wildcard po/*.po))

WMAKER_OPTIONS := --disable-locale --enable-modelock --enable-randr --enable-pango --enable-xinerama --enable-usermenu
#not-enabled      --disable-shape --disable-shm --enable-xrandr
#not-enabled      --disable-xpm --disable-png --disable-jpeg --disable-gif --disable-tiff

# Debian packages destination folder
DEBIAN_TMP        := debian/tmp

# Be careful with the leading / because some of these values are going
# to be hardcoded into the executables
BASEDIR           := /usr
INCLUDEDIR        := $(BASEDIR)/include
SHAREDIR          := $(BASEDIR)/share
NLSDIR            := $(SHAREDIR)/locale
GNUSTEPDIR        := $(SHAREDIR)/lib/GNUstep/System
WMSHAREDIR        := $(SHAREDIR)/WindowMaker
PIXMAPDIR         := $(INCLUDEDIR)/X11/pixmaps

COMMON_OPTIONS    := --datadir=$(SHAREDIR)            \
                     --with-localedir=$(NLSDIR)       \
                     --with-pixmapdir=$(PIXMAPDIR)    \
                     --with-gnustepdir=$(GNUSTEPDIR)

%:
	dh $@ --parallel --with autoreconf

override_dh_autoreconf:
	# Append git snapshot date to version number
	dpkg-parsechangelog | sed -n 's/^Version: //p' | sed 's/+.*//' > oldversion
	dpkg-parsechangelog | sed -n 's/^Version: //p' | sed 's/-.*//' > newversion
	sed -i "s/`cat oldversion`/`cat newversion`/" configure.ac
	dh_autoreconf

override_dh_auto_configure:
	env LINGUAS="$(LINGUAS)" dh_auto_configure --verbose -- \
		$(COMMON_OPTIONS) $(WMAKER_OPTIONS)

override_dh_installmenu:
	dh_installmenu -a --noscripts

override_dh_install:
	# Fix perms for /usr/share/WindowMaker/*sh before install them
	chmod +x $(DEBIAN_TMP)$(WMSHAREDIR)/autostart.sh
	chmod +x $(DEBIAN_TMP)$(WMSHAREDIR)/exitscript.sh

	# Readmes - Copy+rename before install
	# We use the root of the temporal directory debian/tmp
	cp po/README $(DEBIAN_TMP)/README.po
	cp README.definable-cursor $(DEBIAN_TMP)/README.definable-cursor
	cp WPrefs.app/README $(DEBIAN_TMP)/README.WPrefs
	cp WPrefs.app/po/README $(DEBIAN_TMP)/README.WPrefs.po

	# Now, change the #wmdatadir# string to $(WMSHAREDIR)
	perl -pi -e 's:#wmdatadir#:$(WMSHAREDIR):' `find $(DEBIAN_TMP)/$(WMSHAREDIR) -name plmenu.*`
	perl -pi -e 's:#wmdatadir#:$(WMSHAREDIR):' $(DEBIAN_TMP)$(WMSHAREDIR)/wmmacros
	perl -pi -e 's:#wmdatadir#:$(WMSHAREDIR):' $(DEBIAN_TMP)$(WMSHAREDIR)/plmenu

	# Install files
	dh_install

	# Restore version number
	sed -i "s/`cat newversion`/`cat oldversion`/" configure.ac
	rm oldversion newversion

override_dh_strip:
	dh_strip --dbg-package=wmaker-dbg

# unexport CFLAGS
# unexport CPPFLAGS
# unexport LDFLAGS

get-orig-source:
	@git checkout next
	@git pull http://repo.or.cz/wmaker-crm.git next
	@./autogen.sh
	@./configure
	@make dist
	@git checkout ppa
	@grep -Po \
		'(?<=AC_INIT\(\[WindowMaker\],\[).*(?=\],\[wmaker-dev)' \
		configure.ac > version
	@echo `date -d @\`git log -1 --pretty=format:%ct next\` +%Y%m%d` > date
	@mv -v WindowMaker-`cat version`.tar.gz \
		../wmaker_`cat version`+`cat date`.orig.tar.gz
	@rm date version
